h2,
h3 {
    color: #8DC13F;
}

h2 {
    font-size: 3rem;
    margin: .2em, 0;
}

h3 {
    font-size: 1.5rem;
}

.details {
    max-width: 75%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: #8DC13F;
    margin: 0 auto;
}

.overview-container {
    background-color: #1B1464;
    padding: 1em;
    max-width: 72.7%;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #8DC13F;
}

.img-size {
    max-width: 75%;
    border: 6px solid #8DC13F;
    margin: .75em;
}

.movie-description {
    background-color: #1B1464;
    color: #8DC13F;
    font-size: 1rem;
}

  @media (min-width: 48.2em) {
    h2 {
      font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .movie-description {
        font-size: 1.5rem;
    }

  }

  @media (min-width: 90em) {
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 3rem;
    }

  }