h2,
h3 {
    color: #8DC13F;
}

h2 {
    font-size: 2rem;
    margin: .2rem, 0;
}

h3 {
    font-size: 1.5rem;
}

.outer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "movie-title"
        "back-drop"
        "details"
        "trailer"
        "overview-container";
    grid-row-gap: 1rem;
}

.movie-title {
    margin: 0;
    grid-area: movie-title;
}

.back-drop {
    grid-area: back-drop;
}

.details {
    min-width: 70%;
    max-width: 70%;
    padding: .5rem 1rem;
    line-height: 1.25;
    font-weight: bold;
    background-color: #8DC13F;
    margin: 0 auto;
    grid-area: details;
}

.details div {
    margin-bottom: .5rem;
    text-align: left;
}

.trailer {
    min-width: 75%;
    margin: 0 auto;
    grid-area: trailer;
    color: #8DC13F; 
}

.overview-container {
    background-color: #1B1464;
    max-width: 72.7%;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #8DC13F;
    grid-area: overview-container;
}

.overview-container div {
    padding: 1rem;
}

.img-size {
    max-width: 75%;
    border: 6px solid #8DC13F;
}

.movie-description {
    background-color: #1B1464;
    color: #8DC13F;
    font-size: 1rem;
}

@media screen and (min-width: 40em) {

    h2 {
        font-size: 2rem;
        margin: .2rem, 0;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .outer-grid {
        display: grid;
        max-width: 70%;
        margin: 0 auto;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "movie-title movie-title"
            "back-drop back-drop"
            "details trailer"
            "overview-container overview-container";
        grid-column-gap: 0;
    }
    
    .movie-title {
        margin: 0;
        grid-area: movie-title;
    }
    
    .back-drop {
        grid-area: back-drop;
    }
    
    .details {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        line-height: 1.25;
        font-weight: bold;
        background-color: #8DC13F;
        grid-area: details;
    }
    
    .details div {
        margin-bottom: .5rem;
    }

    .inner-details {
        padding: 1rem 1rem .5rem 1rem;
    }
    
    .trailer {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        grid-area: trailer;
        color: #8DC13F; 
    }
    
    .overview-container {
        background-color: #1B1464;
        min-width: 100%;
        margin: 0 auto;
        text-align: left;
        border: 2px solid #8DC13F;
        grid-area: overview-container;
    }
    
    .img-size {
        max-width: 90%;
        border: 6px solid #8DC13F;
    }
    
    .movie-description {
        background-color: #1B1464;
        color: #8DC13F;
        font-size: 1rem;
    }
   
}

  /* @media (min-width: 48.2em) {
    h2 {
      font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .movie-description {
        font-size: 1.5rem;
    }

  }

  @media (min-width: 90em) {
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 3rem;
    }

  } */