
header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background: radial-gradient(circle, rgb(141, 193, 63, 1) 0%, rgba(133, 123, 229, 1) 100%);
    width: 100vw;
    margin-left: 0;
    padding: 0;
    border-bottom: 6px solid #1B1464
  }

  .logo-image {
    width: 75%;
    padding: 1em;
  }

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}